#lesboutons3{
  display: flex;
  justify-content: space-between;
  margin-top: 45%;
}
#lesboutons3 button{
  background: transparent;
}
#btnback{
  border: none;
  font-weight: bolder;
  color: rgb(88, 99, 112);
}
#btnnext{
    border-radius: 10px;
    padding: 7.5px 20px 7.5px 20px;
    background-color: rgb(15, 45, 85) !important;
    color: white;
    font-weight: 600;
    border: none;
}

#step4div{
    display: flex;
    justify-content: space-between;
}

#totalprix{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1110px) {
  #lesboutons3{
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

#step4div{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#totalprix{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#ptitdiv{
  margin-right: auto;
}
}
